# ==========================================
# Bd
# ==========================================
*.duckdb
*.duckdb.wal
duckdb.exe

# ==========================================
# Data
# ==========================================
*.py
*.pyc
__pycache__/
*.json
data/raw/
vgc_project 

# ==========================================
# Artifacts
# ==========================================
vgc_dbt/target/
vgc_dbt/dbt_packages/
vgc_dbt/logs/
logs/

# ==========================================
# Env
# ==========================================
venv/
env/
.env
.DS_Store
Thumbs.db